<%- if street.collection_days.size == 7 %>
  Waste will be collected every day of the week from <%= format_time_of_day street.collection_start %> to <%= format_time_of_day street.collection_end %>.
<%- else -%>
  Waste will be collected on <%= street.collection_days.map(&:capitalize).to_sentence %> from <%= format_time_of_day street.collection_start %> to <%= format_time_of_day street.collection_end %>.
<%- end %>

<%- if street.provider_streets.overrides_collection.any? %>
  <ul class="list -overrides">
    <%- street.provider_streets.overrides_collection.each do |provider_street| %>
      <li>
        <%= provider_street.provider.name %> 
        waste will be collected on <%= provider_street.calculated_collection_days.map(&:capitalize).to_sentence %> 
        from <%= format_time_of_day provider_street.calculated_collection_start %> 
        to <%= format_time_of_day provider_street.calculated_collection_end %>.
      </li>
    <%- end %>
  </ul>
<%- end %>