<%- if street.presentation_days.size == 7 %>
  Put your <%= street.bag_street ? 'waste bags' : 'wheelie bin' %> out any day of the week from <%= format_time_of_day street.presentation_start %> to <%= format_time_of_day street.presentation_end %>.
<%- else -%>
  Put your <%= street.bag_street ? 'waste bags' : 'wheelie bin' %> out on <%= street.presentation_days.map(&:capitalize).to_sentence %> from <%= format_time_of_day street.presentation_start %> to <%= format_time_of_day street.presentation_end %>.
<%- end %>

<%- if street.provider_streets.any? %>
  <ul class="list -overrides">
    <%- street.provider_streets.each do |provider_street| %>
      <li>
        <%= provider_street.provider.name %> 
        <%= street.bag_street ? 'bags' : 'bins' %> 
        should be put out on <%= provider_street.presentation_days.map(&:capitalize).to_sentence %> 
        from <%= format_time_of_day provider_street.presentation_start %> 
        to <%= format_time_of_day provider_street.presentation_end %>.
      </li>
    <%- end %>
  </ul>
<%- end %>