<div class="pane">
  <h3>Times</h3>
  <p>
    Put your rubbish out <%= format_days street.presentation_days %> from <%= format_time_of_day street.presentation_start %>.
  </p>
  <p>
    Rubbish will be collected <%= format_days street.collection_days %> from <%= format_time_of_day street.collection_start %> to <%= format_time_of_day street.presentation_end %>.
  </p>
</div>