<div id="search-form" data-query="<%= @query -%>"></div>

<main>
  <div class="street-show">
    <header>
      <h1>
        <span><%= @street.name -%></span>
        <span><%= @street.sraid_ainm -%></span>
      </h1>
      <p>Dublin <%= @street.postcode -%></p>
    </header>
    <%= render partial: 'collection', locals: {street: @street} -%>
    <%= render partial: 'times', locals: {street: @street} -%>
    <%= render partial: 'streets/bin_bag_retailer_distance', locals: {street: @street} %>
  </div>
</main>
