<div id="search-form" data-query="<%= @query -%>"></div>

<main>
  <div class="street-show">
    <header>
      <h1><%= @street.name -%></h1>
      <p>Dublin <%= @street.postcode -%></p>
    </header>
    <div class="pane">
      This is a <%= @street.bag_street ? 'paid for waste bag' : 'wheelie bin' %> street.
    </div>
    <div class="pane">
      <%= render partial: 'streets/presentation', locals: {street: @street} %>
    </div>
    <div class="pane">
      <%= render partial: 'streets/collection', locals: {street: @street} %>
    </div>
  </div>
</main>
