<!DOCTYPE html>
<html>
  <head>
    <title>waste.civictech.ie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'yourwaste' %>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,500,700&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
  </head>
  <body>
    <main class="primary-main">
      <div class="wrapper"><%= yield %></div>
    </main>
    <footer class="primary-footer">
      <div class="wrapper">
        Have a correction or feedback? <%= link_to "Send us a note", "mailto:beta@dublincity.ie" -%>.
      </div>
    </footer>
  </body>
</html>
