<!DOCTYPE html>
<html>
  <head>
    <title>YourWaste·ie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'yourwaste' %>
    <%= stylesheet_pack_tag 'yourwaste' %>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
  </head>

  <body>
    <div class="modal-frame">
      <div class="modal">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
